.page {
  background-image: radial-gradient(rgb(90, 90, 90), rgb(0, 0, 0));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que ocupe toda la pantalla */
  padding: 0;
  overflow: hidden;
  font-family: var(--font-geist-sans);
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center; /* Asegura que todo dentro de .main esté centrado */
  gap: 32px;
  width: 100%;
  max-width: 1000px; /* Establece un ancho máximo */

  padding: 20px; /* Añadí padding para no pegar el contenido a los bordes */
  border-radius: 8px; /* Añadí un borde redondeado para estilo */
}

.titleContainer {
  margin-top: 2rem;
  width: 100%;
  text-align: center; /* Centra el título */
}

.tabs {
  display: flex;
  justify-content: space-around; /* Distribuye las tabs de izquierda a derecha */
  align-items: center;
  width: 100%;
  max-width: 800px; /* Limita el tamaño máximo de las tabs */
  height: auto;
  background-color: transparent; /* Quita el fondo gris */
  border-radius: 1rem;
}

.tabs .tab {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.tabs .tab:hover {
  background-color: rgba(121, 23, 23, 0.1); /* Añade un efecto hover sutil */
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

.footer {
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .page {
    padding: 16px;
  }

  .main {
    align-items: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

