.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  display: grid;  
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  height: 70%;
  font-family: var(--font-geist-sans);
  overflow-y: calc();
}

.main {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  width: 100%;
}


.container {
  display: grid;
  justify-content: center;
  width: 100%;
  height: 80%;
  background-image: radial-gradient( rgb(90, 90, 90), rgb(0, 0, 0));
}

.titleContainer {
  margin-top: 5rem;
  width: 100%;
}

.dataContainer {
  margin-left: 3rem;
  width: 100%;
  border-radius: 1rem;
}

.titleResponse {
  font-size: 4rem;
}
.response {
  font-size: 3rem;
}