.container {
    display: flex;
    flex: row;
    justify-content: center;
    align-self: center;
    margin: 14rem;
    margin-top: 3rem;
    background-color: var(--color-background);
    width: 60rem;
    height: 40rem;
    border-radius: 0.3rem;
    border: 0.5rem solid black;
}

.data {
    font-size: 1rem;
    margin-top: 1rem;
    color: var(--color-text);
    text-decoration: none;
}