.container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    background-color: var(--color-Box);
    width: 22rem;
    height: 7rem;
    border-radius: 0.3rem;
    border: 0.5rem solid black;
    cursor: pointer;
}

.text {
    font-size: 2rem;
    margin-top: 1rem;
    color: var(--color-text);
    text-decoration: none;
}